__pycache__/
*.pyc
*.pyo
.Python
.env
.venv/
venv/
*.egg-info/
dist/
build/

data/*
!data/README.md
checkpoint/
tblogs/
logs/
inferred_embs/
star_tblogs/
result/
tmp/
*.log
*.csv

.DS_Store
.idea/
.vscode/

requirements-lock.txt
